<div class="-contact">
    <div class="-title" ng-bind="$ctrl.title"></div>
    <div class="-content -banner" ng-class="{'-content-en':$ctrl.isEng}">
        <div class="-contact-type -contact-content ">
            <!-- <p ng-repeat="item in $ctrl.desList2 track by $index"  class="-item" ><span>{{item}}</span></p> -->
            <p>tel：15618011087</p>
            <p>qq：1185067788</p>
            <p>email：<a href="mailto:zhouyangweb@outlook.com">zhouyangweb@outlook.com</a></p>
            <p>github：<a href="https://github.com/coderwow/"  target="_blank">https://github.com/coderwow/</a></p>
        </div>
    </div>
</div>