<div class="-default">
    <div class="-content">
        <div class="-photo"></div>
        <div class="-des">
            <p class="-quote" ng-bind="$ctrl.quote"></p>
            <div class="-des-list">
                <!-- <p ng-repeat="item in $ctrl.desList track by $index" ng-bind="item"></p> -->
                 <div class="code-editor">
                   <pre class="numbers linenums prettyprint prettyprinted">
                    <ol class="linenums">

                     <li class="L1"><code class="css"><span class="pln">  </span><span class="kwd">my</span><span class="pln"> name </span><span class="pun">is</span><span class="pln"> </span><span class="kwd">Zhou</span><span class="pln"> </span><span class="typ">Yang</span></code></li>
                     <li class="L2"><code class="css"><span class="pln">    </span><span class="pun">a</span><span class="pln"> front-end </span><span class="pun">R</span><span class="pln"> &</span><span class="pln"> </span><span class="kwd">D</span><span class="pln"> </span><span class="typ">engineer</span></code></li>
                     <li class="L0"><code class="css"><span class="pln">keep</span><span class="str"><span class="pln"> </span>learning</span><span class="pun"> ,</span><span class="pln"> coding </span><span class="kwd">and</span><span class="pln"> </span><span class="pun">growing</span></code></li>
                    </ol></pre>
                  </div>
            </div>
        </div>
    </div>
</div>